project\data\aursad\AURSAD.pkl
project\data\aursad\aursad.feather
project\data\aursad\aursad_training.feather
project/data/aursad/aursad_training.feather
project/preprocessing/predicted_joint_angles_and_speeds.feather
project/preprocessing/predicted_joint_angles.feather
project/preprocessing/pred_speed.feather
project/preprocessing/predicted_joint_angles_and_speeds.feather
project/preprocessing/predicted_joint_current_temp_speed.feather
project/preprocessing/pred_all_bad.feather
project\data\predictions\pred_speed_light.feather
hw
ICA
.git ignore
project/__pycache__
.venv
venv